:root {  /*light mode*/
  --body-background: white;
  --top-background: hsl(225, 100%, 98%);
  --card-background: hsl(227, 47%, 96%);
  --card-hover: #E1E3F0;
  --text-color-contrast: hsl(230, 17%, 14%);
  --text-color: #595C6D;
  --hr-color: #ccc;
}

.dark-mode {
  --body-background: hsl(230, 17%, 14%);
  --top-background: hsl(232, 19%, 15%);
  --card-background: hsl(228, 28%, 20%);
  --card-hover: #333A56;
  --text-color-contrast: hsl(0, 0%, 100%);
  --text-color: hsl(228, 34%, 66%);
  --hr-color: #333;
}

body {
  margin: 0 auto;
  width: 1110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--body-background);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--text-color);
}

@media screen and (max-width: 1160px) {
  body {
    width: 350px;
    box-sizing: border-box;
    padding: 0 30px;
  }
}

header::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--top-background);
  top: 0;
  left: 0;
  width: 100%;
  height: 240px;
}

@media screen and (max-width: 1160px) {
  header::before {
    display: none;
  }
}

header {
  width: 1020px;
  margin-top: 40px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

@media screen and (max-width: 1160px) {
  header {
    width: 315px;
    flex-direction: column;
  }
}

header h1 {
  font-size: 28px;
  color: var(--text-color-contrast);
}

@media screen and (max-width: 1160px) {
  header h1 {
    font-size: 24px;
    margin-top: 0;
  }
}

header h3 {
  margin-top: 7px;
  font-size: 14px;
}

header hr {
  margin-top: 22px;
  width: 315px;
  border: none;
  background-color: var(--hr-color);
  height: 1px;
  display: none;
}

.dark-mode-group {
  display: flex;
  align-items: center;``
}

@media screen and (max-width: 1160px) {
  header hr {
    display:block;
  }
  .dark-mode-group {
    width: 100%;
    justify-content: space-between;
  }
}

.dark-mode-group > div:first-child {
  margin-top: 14px;
  margin-right: 15px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  top: 6px;
  width: 48px;
  height: 23px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 25px;
  bottom: 2.5px;
  background-color: var(--body-background);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-image: linear-gradient(to right, hsl(210, 78%, 56%),  hsl(146, 68%, 55%));
}

input:focus + .slider {
    background-image: linear-gradient(to right, hsl(210, 78%, 56%),  hsl(146, 68%, 55%));
}

input:checked + .slider:before {
  -webkit-transform: translateX(-22px);
  -ms-transform: translateX(-22px);
  transform: translateX(-22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.cards-top, .cards-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1160px) {
  .cards-top, .cards-bottom {
    grid-template-columns: 1fr;
  }
}

.cards-top {
  grid-template-rows: 220px;
  grid-gap: 30px;
  margin-top: 45px;
}

@media screen and (max-width: 1160px) {
  main {
    width: 315px;
  }
  .cards-top {
    grid-template-rows: repeat(4, 207px);
    grid-gap: 25px;
  }
}

main h2 {
  margin-top: 47px;
  font-size: 25px;
}

@media screen and (max-width: 1160px) {
  main h2 {
    font-size: 24px;
  }
}
.cards-bottom {
  grid-gap: 25px;
  grid-template-rows: repeat(2, 125px);
  margin-top: 25px;
}

@media screen and (max-width: 1160px) {
  .cards-bottom {
    grid-template-rows: repeat(8, 120px);
    grid-gap: 15px;
  }
}

.card-big, .card-small {
  max-width: 350px;
  background-color: var(--card-background);
  border-radius: 8px;
}

.card-big:hover, .card-small:hover {
  background-color: var(--card-hover);
  cursor: pointer;
}

.card-big {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.card-big::before {
  content: "";
  position: relative;
  height: 4px;
  width: 100%;
}

.card-big > *:first-child {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-top: 35px;
}

.card-big > *:first-child  > *:first-child {
  margin-right: 8px;
}

.card-big > *:nth-child(2) {
  margin-top: 22px;
  font-size: 55px;
  color: var(--text-color-contrast);
}

.card-big > *:nth-child(3) {
  margin-top: 9px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3.5px;
}

.card-big > *:nth-child(4) {
  margin-top: 26px;
  font-size: 12px;
}

.card-big.facebook::before {
  background-color: #188FF4;
}

.card-big.twitter::before {
  background-color: #1CA0F2;
}

.card-big.instagram::before {
  background-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}

.card-big.youtube::before {
  background-color: hsl(348, 97%, 39%);
}

.card-small {
  padding-top: 28px;
  padding-left:  24px;
  padding-right: 34px;
  padding-bottom: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-small > *:nth-child(2), .card-small > *:nth-child(4) {
  justify-self: end;
}

.card-small > *:nth-child(3), .card-small > *:nth-child(4) {
  align-self: end;
}

.card-small > *:nth-child(3) {
  font-size: 32px;
  color: var(--text-color-contrast)
}

.card-small > *:nth-child(4) {
  font-size: 12px;
}

.growth-up {
  color: hsl(163, 72%, 41%);
}

.growth-down {
  color: hsl(356, 69%, 56%);
}

footer {
  margin-top: 20px;
  font-size: 11px; text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}
