:root {
  --card-background: hsl(227, 47%, 96%);
}

body {
  margin: 0 auto;
  width: 1110px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

header {
  margin-top: 40px;
  display: flex;
}

header h1 {
  font-size: 28px;
}

header h3 {
  margin-top: 7px;
  font-size: 14px;
}

.cards-top, .cards-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cards-top {
  grid-template-rows: 220px;
  grid-gap: 30px;
  margin-top: 45px;
}

main h2 {
  margin-top: 47px;
  font-size: 25px;
}

.cards-bottom {
  grid-template-rows: repeat(2, 125px);
  grid-gap: 25px;
  margin-top: 25px;
}

.card-big, .card-small {
  background-color: var(--card-background);
  border-radius: 8px;
}

.card-big > *:first-child {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.card-big {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-big > *:first-child {
  margin-top: 35px;
}

.card-big > *:first-child  > *:first-child {
  margin-right: 8px;
}

.card-big > *:nth-child(2) {
  margin-top: 22px;
  font-size: 55px;
}

.card-big > *:nth-child(3) {
  margin-top: 9px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3.5px;
}

.card-big > *:nth-child(4) {
  margin-top: 26px;
  font-size: 12px;
}

footer {
  margin-top: 20px;
  font-size: 11px; text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}
